<div class="container">
    <h2>Add Laptop</h2>
    <form>
        <div>
            <label>Name:</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Price:</label>
            <input type="number">
        </div>

        <div class="form-group">
            <label>Brand:</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Storage:</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>RAM:</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Processor:</label>
            <input type="text">
        </div>

        <button>Add Laptop</button>
    </form>

    <h2>Laptop List</h2>
    <form>
        <div class="form-group">
            <label>Search by Name:</label>
            <input type="text">
        </div>
        <div class="form-group">
            <label>Search by Price:</label>
            <input type="number">
        </div>

        <div class="form-group">
            <label>Search by Brand:</label>
            <input type="text">
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Brand</th>
                <th>Storage</th>
                <th>RAM</th>
                <th>Processor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>